.titre_section
{
	text-align: center;
}


#rond_bleu
{
	background-color: #5CADD3;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

#Navigation_Portfolio ul
{
	display: flex;
	justify-content: center;
	height: 30px;

}

#Navigation_Portfolio li
{
	list-style: none;
	background-color: lightgray;
	margin: 10 px;
		border: 1px solid black;
}

#Navigation_Portfolio .Onglet_Actif
{
	color : white;
	background-color : #5CADD3;
}

#Portfolio
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;

}