.titre_section
{
	text-align: center;
}

#rond_bleu
{
	background-color: #5CADD3;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

#Services
{
	display: flex;
	justify-content: space-around;

}

#Services li
{
	list-style: #5CADD3;
}

#Services img
{
	/*width: 50%;*/
}

